.page{
    opacity: 1 !important;
}
html, body {
    /* margin-top: 100px; */
    margin-top: 35vh;
    font-family: 'Times New Roman', Times, serif !important;
}
h1 {
	font-size: 42px;
	font-weight: 500;
	color: #000000;
	margin: 20;
	padding: 0;
	line-height: 1em;
}
small{
    font-size: 12px;
    color: #7F8C8D;
}
section {
    width: 100%;
    /* height: 60vh; */
    margin: 80px 0px;
    margin-top: 20vh;
    /* margin-bottom: 10vh; */
}
section h2 {
	font-size: 36px;
	font-weight: 300;
	color: #000000;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
section p {
    margin: 0;
    font-size:15px;
	font-weight: 300;
	/*margin-bottom: 30px;*/
	/*font-size: 1.1875em;*/
	line-height: 1.6316;
	color: #7F8C8D;
}
.title{
    font-size: 1.1875em;
    margin-top: 10px;
    font-weight: 500;
}
.subtitle{
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 5px;
}
.container {
    width: 100%;
    padding-left: 8%;
    padding-right: 6%;
    top: 50%;
}

a{
    font-size:15px;
	font-weight: 300;
	/*margin-bottom: 30px;*/
	/*font-size: 1.1875em;*/
	line-height: 1.6316;
	color: #7F8C8D;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #7F8C8D;
}
table{
    width:100%;
}
table, th, td {
    text-align: left;
    /*border: 1px solid black;*/
    border-collapse: collapse;
}

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
#social table, th, td{
    padding-left:  3px;
    padding-right: 3px;
}
.intro{
    width:52%;
}
@media only screen and (max-width:800px) {
    .intro{
        width:75%;
    }
}
@media only screen and (max-width:600px) {
    .intro{
        width:81%;
    }
}

.page-control{
    display: none;
}

.page-control__item{
    display: none;
}

.extlinks{
    /* width:100%; */
    position:absolute;
    left:50%;
    margin: 190px 0 0 -90px;
    /* bottom:-100px; */
    float:bottom;
}
